{% extends 'common/base.html' %}

{% block title %} Add Employee {% endblock title%}
{% block css %}

{% endblock css%}
{% block content %}
<center>
    <br><br>
    <div class="container shadow p-3 mb-5 bg-body-tertiary rounded border">
        <strong>Add Employee</strong>
        <br><br>
        {% if submitted %}
            Employee has been Added Successfully!<br><br>
            <a href="{% url 'employee-list' %}" class="btn btn-secondary ">Go To List</a> 
            <a href="{% url 'add-employee' %}" class="btn btn-success ">Add More</a>
        {% else %}
            <div class="container">
                <form action="" method=POST enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Submit" class="btn btn-secondary">
                </form>
            </div>
        {% endif %}
    </div>
</center>
{% endblock %}