{% extends 'common/base.html' %} 
{% load static %} 
{% block title %} Employee list {% endblock title %}

{% block css %} 
    <link rel="stylesheet" href="#"> 
{% endblock css %}

{% block img %} 
    <img src="" alt=""> 
{% endblock img %}

{% block content %}
<div class="container">
    <br><br>
    <table class="table table-bordered border-primary table-sm table-responsive text-center ">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
              <tr>
                <td> 
                  <img class="img-thumbnail" height="100" width ="100" src="{{employee.photo.url}}"/>
                </td>
                <td>{{employee.first_name}} {{employee.last_name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.date_of_birth|date:"SHORT_DATE_FORMAT"}}</td>
                <td>
                   <div class="d-flex justify-content-evenly">
                    <a href="{% url 'update-employee' employee.id %}" ><img height="30" width="25" src="media/icons/edit.png" alt=""></a>
                    <a href="{% url 'delete-employee' employee.id %}"><img height="30" width="25" src="media/icons/delete1.png" alt=""></a>
                   </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
            <tfoot>
              <tr >
                <td colspan="6">
                  <p></p>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if employees.has_previous %}
                        
                            <li class="page-item"><a href="?page={{employees.previous_page_number}}" class="page-link">&laquo;</a></li>
                        {% endif %}
                        {% for i in nums %}
                        <li class="page-item"><a href="?page={{forloop.counter}}" class="page-link"> {{forloop.counter}}</a></li>
                        {% endfor%}
                
                        {% if employees.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{employees.next_page_number}}" >&raquo;</a></li>
                            
                        {% endif %}
                    </ul>
                </nav>
                </td>
            
              </tr>
            </tfoot>
          </table>

</div>
{% endblock content %}