{% extends 'common/base.html' %} 
{% load static %} 
{% block title %} Employee list {% endblock title %}

{% block css %} 
    <link rel="stylesheet" href="#"> 
{% endblock css %}

{% block img %} 
    <img src="" alt=""> 
{% endblock img %}

{% block content %}
<br><br><br>

<div class="container border border-primary">
  <br>
  <form method=GET action="{% url 'search_employee'%}">
    {% csrf_token %}
     <div class="container row d-flex justify-content-center border border-primary rounded-3 py-3 ">
       <div class="col-sm-2">
          <input class="form-control form-control-sm" type="text" placeholder="Name" name="name" aria-label="Search">
        </div>
        <div class="col-sm-2">
          <input class="form-control form-control-sm" type="date" placeholder="Date of Birth" name="dob" aria-label="Search">
        </div>
          <div class="col-sm-2">
          <input class="form-control form-control-sm" type="search" placeholder="Email" name="email" aria-label="Search">
        </div>
          <div class="col-sm-2">
          <input class="form-control form-control-sm" type="search" placeholder="Phone" name="phone" aria-label="Search">
        </div>
        <div class="col-sm-1">
          <input type="submit" value='Submit' class="btn btn-outline-secondary btn-sm">
        </div>
     </div>
  </form>
  <!--<img height="30" width="30" src="media/icons/search.png" alt="">-->
    <br>
    <table class="table table-bordered border-primary table-sm table-responsive text-center ">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Full Name
                  <a href="?order_by=first_name">
                    <img height="30" width ="30" src="media/icons/sort.png" alt="">
                  </a>
                </th>
                <th scope="col">Email
                  <a href="?order_by=email">
                    <img height="30" width ="30" src="media/icons/sort.png" alt="">
                  </a>
                </th>
                <th scope="col">Mobile
                  <a href="?order_by=mobile">
                    <img height="30" width ="30" src="media/icons/sort.png" alt="">
                  </a>
                </th>
                <th scope="col">Date of Birth
                  <a href="?order_by=date_of_birth">
                    <img height="30" width ="30" src="media/icons/sort.png" alt="">
                  </a>
                </th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
              <tr>
                {% if employee.photo %}
                <td> 
                  <img class="img-thumbnail" height="100" width ="100" src="{{employee.photo.url}}"/>
                </td>
                {% else %}
                <td> 
                  <img class="img-thumbnail" height="100" width ="100" src="media/icons/user.png"/>
                </td>
                {% endif %}
                <td>{{employee.first_name}} {{employee.last_name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.date_of_birth|date:"SHORT_DATE_FORMAT"}}</td>
                <td>
                   <div class="d-flex justify-content-evenly">
                    <a href="{% url 'update-employee' employee.id %}" ><img height="30" width="25" src="media/icons/edit.png" alt=""></a>
                    <a href="{% url 'delete-employee' employee.id %}"><img height="30" width="25" src="media/icons/delete1.png" alt=""></a>
                   </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
            <tfoot>
              <tr >
                <td colspan="6">
                  <p></p>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if employees.has_previous %}
                        
                            <li class="page-item"><a href="?page={{employees.previous_page_number}}" class="page-link">&laquo;</a></li>
                        {% endif %}
                        {% for i in nums %}
                        <li class="page-item"><a href="?page={{forloop.counter}}" class="page-link"> {{forloop.counter}}</a></li>
                        {% endfor%}
                
                        {% if employees.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{employees.next_page_number}}" >&raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                </td>
              
              </tr>
            </tfoot>
          </table>
  </div>
{% endblock content %}