{% extends 'common/base.html' %}

{% block title %} Add Employee {% endblock title%}
{% block content %}
<center>
    <br><br>
   <div class="container  border border-primary">
    <strong>Search Results-({{search_items}})</strong>
    {% if search_items != 0 %}
    <table class="table table-bordered border-primary table-sm table-responsive text-center ">
      <thead>
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Full Name
            <a href="#">
              <img height="30" width ="30" src="http://localhost:8000/media/icons/sort.png" alt="">
            </a>
          </th>
          <th scope="col">Email
            <a href="#">
              <img height="30" width ="30" src="http://localhost:8000/media/icons/sort.png" alt="">
            </a>
          </th>
          <th scope="col">Mobile
            <a href="#">
              <img height="30" width ="30" src="http://localhost:8000/media/icons/sort.png" alt="">
            </a>
          </th>
          <th scope="col">Date of Birth
            <a href="#">
              <img height="30" width ="30" src="http://localhost:8000/media/icons/sort.png" alt="">
            </a>
          </th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for employee in employees %}
        <tr>
          {% if employee.photo %}
          <td> 
            <img class="img-thumbnail" height="100" width ="100" src="{{employee.photo.url}}"/>
          </td>
          {% else %}
          <td> 
            <img class="img-thumbnail" height="100" width ="100" src="http://localhost:8000/media/icons/user.png"/>
          </td>
          {% endif %}
          <td>{{employee.first_name}} {{employee.last_name}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.mobile}}</td>
          <td>{{employee.date_of_birth|date:"SHORT_DATE_FORMAT"}}</td>
      
        <td>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline"><a href="{% url 'update-employee' employee.id %}" ><img height="30" width="25" src="http://localhost:8000/media/icons/edit.png" alt=""></a></button>
           <form method="POST" action="{% url 'delete-employee' employee.id %}" onsubmit="return confirmDelete()">
            {% csrf_token %}
            
            <button type="submit" class="btn btn-outline"><img height="30" width="25" src="http://localhost:8000/media/icons/delete1.png" alt=""></button>
          </form>
          </div>
       </td>
      </tr>
      {% endfor %}
      </tbody>
      <tfoot>
      <div class="container justify-content-center">
        <tr>
          <td colspan="6">&copy;Copyright 2024</td>
        </tr>
      </div>
    </tfoot>
    </table>
    {% else %}
      <p>Sorry! No search result. Please try again!!!</p>
    {% endif %}
   </div>
   <script type="text/javascript">
    function confirmDelete() {
        return confirm("Are you sure, you want to delete this?");
    }
    </script>
</center>
{% endblock %}